<div class="flex items-center justify-evenly h-full p-6">
  <!-- left side -->
  <div class="flex flex-col w-3/5 h-full items-start justify-start">
    <!-- top widget -->
    <div class="flex flex-row items-center justify-between w-2/3 h-2/6 p-6">
      <!-- curr temp -->
      <div class="flex flex-col items-between p-4">
        <div>
          <h2 class="text-2xl font-semibold">{{cityName}}</h2>
          <p class="text-gray-400">Humidity: {{humidity}}%</p>
        </div>
        <div class="text-6xl font-bold mt-4">{{temp}}°C</div>
      </div>

      <!-- Weather icon -->
      <img src="{{mainIcon}}" alt="Main Icon" />
    </div>

    <!-- 2nd widget -->
    <div
      class="flex flex-col w-full justify-evenly h-2/6 bg-gray-800 px-10 rounded-lg"
    >
      <h3 class="text-lg font-semibold">Today's Temp Forecast</h3>
      <div class="flex flex-row justify-between">
        <div
          ng-repeat="day in dayTemps | limitTo:5"
          class="flex flex-col items-center"
        >
          <p>{{day.hour}}</p>
          <img
            ng-src="{{day.icon}}"
            alt="weather icon"
            class="w-12 h-12 mx-auto"
          />
          <p>{{day.temp}}°C</p>
        </div>
      </div>
    </div>

    <!-- last widget -->
    <div
      class="flex flex-col justify-evenly w-full h-1/4 bg-gray-800 px-10 rounded-lg mt-6"
    >
      <h3 class="text-lg font-semibold">Temp Details</h3>
      <div class="flex justify-between items-center mt-4">
        <div>
          <p class="text-gray-400">Feels like</p>
          <p class="text-xl font-semibold">{{feels_like}} °C</p>
        </div>
        <div>
          <p class="text-gray-400">Min Temp</p>
          <p class="text-xl font-semibold">{{temp_min}} °C</p>
        </div>
        <div>
          <p class="text-gray-400">Max Temp</p>
          <p class="text-xl font-semibold">{{temp_max}} °C</p>
        </div>
        <div>
          <p class="text-gray-400">Humidity</p>
          <p class="text-xl font-semibold">{{humidity}} %</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Future temp -->
  <div
    class="flex flex-col justify-evenly w-1/4 h-full px-10 bg-gray-800 rounded-lg"
  >
    <h3 class="text-lg font-semibold">Future Temp Forecasts</h3>
    <div class="flex flex-col justify-evenly h-3/4">
      <div
        ng-repeat="day in futureTemps | limitTo:5"
        class="flex justify-between items-center"
      >
        <div>
          <p>{{day.date | date:'MMM d'}}</p>
          <p>{{day.hour}}</p>
        </div>
        <img
          ng-src="{{day.icon}}"
          alt="weather icon"
          class="w-12 h-12 mx-auto"
        />
        <p>{{day.temp}}°C</p>
      </div>
    </div>
  </div>
</div>
