<div ng-controller="HomeController">
  <div class="w-full flex p-10">
    <header class="w-full flex flex-row justify-between items-center gap-4">
      <div class="text-xl font-bold">WeatherAPP</div>
      <div class="text-lg gap-2">
        City:
        <input
          type="text"
          ng-model="selectedCity"
          class="bg-gray-900 p-2 w-48 ml-4  rounded-lg hover:outline hover:outline-2 hover:outline-white hover:outline-offset-4 transition-all"
          placeholder="Enter city name..."
          ng-keyup="changeCity(selectedCity)"
          ng-model-options="{ debounce: 500 }"
        />
      </div>
    </header>
  </div>
  <div class="flex p-10 gap-4 justify-center items-center">
    <a href="#/temperature/{{selectedCity}}">
      <div ng-controller="HomeTemperature">
        <div
          class="flex flex-col justify-around bg-gray-900 p-4 py-12 rounded-lg min-h-[460px] hover:outline hover:outline-2 hover:outline-white hover:outline-offset-4 transition-all"
        >
          <div class="mb-4 ">
            <h2 class="text-center text-2xl font-bold">Temperature</h2>
          </div>

          <div ng-if="loading" class="text-center mt-20">
            <p class="text-gray-400">Loading...</p>
          </div>

          <div ng-if="!loading" class="text-center mt-10">
            <div class="text-5xl mb-8">{{temp}}°C</div>

            <div class="grid grid-cols-2 gap-4 md:gap-8">
              <div class="p-2">
                <p class="text-gray-400">Feels like</p>
                <p class="text-xl">{{feels_like}}°C</p>
              </div>

              <div class="p-2">
                <p class="text-gray-400">Humidity</p>
                <p class="text-xl">{{humidity}}%</p>
              </div>

              <div class="p-2">
                <p class="text-gray-400">Min</p>
                <p class="text-xl">{{temp_min}}°C</p>
              </div>

              <div class="p-2">
                <p class="text-gray-400">Max</p>
                <p class="text-xl">{{temp_max}}°C</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <div
      ng-controller="HomeForecast"
      class="flex justify-between flex-col gap-4"
    >
      <a href="#/forecast" class="h-full">
        <div
          class="bg-gray-900 p-1 h-full rounded-lg hover:outline hover:outline-2 hover:outline-white hover:outline-offset-4 transition-all"
        >
          <div ng-if="loading" class="text-center p-4">Loading forecast...</div>
          <div ng-if="!loading" class="p-4">
            <h3 class="text-2xl mt-2 mb-6 font-bold">
              General Weather Forecast
            </h3>
            <div class="flex flex-row gap-2">
              <div
                ng-repeat="day in forecast | limitTo:5"
                class="flex justify-center px-8 flex-col text-center text-sm p-2 bg-gray-800 rounded flex-1 w-32"
              >
                <div class="font-medium py-2 text-lg">{{day.weather}}</div>
                <img
                  ng-src="{{day.icon}}"
                  alt="weather icon"
                  class="w-8 h-8 mx-auto"
                />
                <div class="py-4">
                  <div class="font-bold">{{day.date | date:'MMM d'}}</div>
                  <div class="text-gray-400">{{day.hour}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <div class="flex gap-2">
        <a href="#/airpolution">
          <div
            class="bg-gray-900 p-1 rounded-lg hover:outline hover:outline-2 hover:outline-white hover:outline-offset-4 transition-all"
          >
            air polution
          </div>
        </a>

        <a href="#/wind/{{selectedCity}}">
          <div ng-controller="HomeWind">
            <div
              class="wind-card bg-gray-900 p-6 rounded-lg flex flex-col items-center justify-center text-white hover:outline hover:outline-2 hover:outline-white hover:outline-offset-4 transition-all"
            >
              <h3 class="text-xl font-bold mb-5">Wind</h3>
              <div class="grid grid-cols-3 gap-2 w-full">
                <div class="p-4 bg-gray-700 rounded-lg text-center">
                  <p class="text-md text-gray-400">Speed</p>
                  <p>5.14 m/s</p>
                </div>
                <div class="p-4 bg-gray-700 rounded-lg text-center">
                  <p class="text-md text-gray-400">Degree</p>
                  <p>90°</p>
                </div>
                <div class="p-4 bg-gray-700 rounded-lg text-center">
                  <p class="text-md text-gray-400">Gust</p>
                  <p>7.2 m/s</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
