<div ng-controller="HomeController">
  <div class="w-full flex p-10">
    <header class="w-full flex flex-row justify-between items-center gap-4">
      <div class="text-2xl font-bold">WeatherAPP</div>
      <div class="text-xl gap-2">
        Location: {{ selectedCity }}
        <select
          ng-model="selectedCity"
          ng-change="changeCity(selectedCity)"
          class="bg-gray-900 p-2 rounded-lg"
        >
          <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
        </select>
      </div>
    </header>
  </div>
  <div class="home-container"></div>
  <div class="flex p-10 gap-4 justify-center items-center">
    <a href="#/temperature">
      <div class="h-[400px] bg-gray-900 p-2 rounded-lg">temperature</div>
    </a>
    <div
      ng-controller="HomeForecast"
      class="flex justify-between flex-col gap-4"
    >
      <a href="#/forecast" class="h-full">
        <div class="bg-gray-900 p-1 h-full rounded-lg">
          <div ng-if="loading" class="text-center p-4">Loading forecast...</div>
          <div ng-if="!loading" class="p-4">
            <h3 class="text-2xl mt-2 mb-6 font-bold">
              General Weather Forecast
            </h3>
            <div class="flex flex-row gap-2">
              <div
                ng-repeat="day in forecast | limitTo:5"
                class="flex justify-center px-10 flex-col text-center text-sm p-2 bg-gray-800 rounded flex-1"
              >
                <div class="font-medium py-4 text-lg">{{day.weather}}</div>
                <img
                  ng-src="{{day.icon}}"
                  alt="weather icon"
                  class="w-12 h-12 mx-auto"
                />
                <div class="py-4">
                  <div class="font-bold">{{day.date | date:'MMM d'}}</div>
                  <div class="text-gray-400">{{day.hour}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <div class="flex gap-2">
        <a href="#/airpolution">
          <div class="bg-gray-900 p-1 rounded-lg">air polution</div>
        </a>
        <a href="#/uvindex">
          <div class="bg-gray-900 p-1 rounded-lg">
            <h2>UV Index</h2>
            <p>Current UV Index: {{ uvIndex.current }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
